div {
    display: flex;
}
.shape-0 {
    background-color: darkcyan;
    width: 1050px;
    height: 1400px;
    position: fixed;
    justify-content: center;
    align-items: center;
}
.shape-1,
.shape-2,
.shape-3 {

    width: 250px;
    height: 180px;
    border-radius: 50% 0;
    rotate: 30;
    margin: -30px;
    box-shadow: 5px 5px 10px rgb(3, 58, 3) ;
    transform: rotate(-20deg);
}
.shape-1 {
    background-color: rgba(35, 93, 58, 0.8);
}
.shape-2 {
    background-color: rgba(57, 125, 84, 0.8);
}
.shape-3 {
    background-color: rgba(115, 192, 136, 0.8);
}